body {
  margin: 0;
  font-family: Consolas, '나눔스퀘어 네오 OTF Bold'; 
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(6px + 2vmin);
}
.body-link {
  color: #f74232;
}

code {
  font-family: Consolas, '나눔스퀘어 네오 OTF Bold';
}
 
 